html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Rebekka Guðleifsdóttir
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel="stylesheet" type="text/css" href="/css/styles.css" media="all")
  body
    header.container.site-header
      a.site-name(href="/") rebekka
        span(style="color:#6c7347;") guðleifsdóttir
      nav.site-navigation
        ul.site-navigation-list
          //- li.site-navigation-item
          //-   a.site-navigation-link(href="#") home
          //- li.site-navigation-item
          //-   a.site-navigation-link(href="#") contact
          li.site-navigation-item
            a.site-navigation-link(href="#") photos
            ul.navigation-dropdown-list
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/self-portraits/") self-portraits
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/people/") people
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/scenery/") scenery
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/fauna/") fauna
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/water/") water
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/film/") film
              li.navigation-dropdown-item
                a.navigation-dropdown-link(href="/photography/dolls/") dolls
          li.site-navigation-item
            a.site-navigation-link(href="/photography/drawings/") drawings
          li.site-navigation-item
            a.site-navigation-link(href="/photography/sweaters/") sweaters

    block content

    footer.container.site-footer &copy; 2006-#{new Date().getFullYear()} Rebekka Guðleifsdóttir. All Rights Reserved.
      | Design by <a href="//longzero.com">Long Nguyen</a>.
      | Check out the <a href="//fb.com/rebekkagudleifs">Facebook Page</a>.

    script(src="/js/main.js")
