extends layouts/index.pug

block content
  main.container.site-body.default
    .site-media
      img(src="/photos/main.jpg" alt="")
    .site-content#content
      h2
        span(style='color:#fff;') about
        | rebekka
      p Visual artist and photographer.
      p Here you will find a selection of my best photographs and drawings. A larger collection can be viewed <a href="http://www.flickr.com/photos/rebba">on flickr</a>.
      p All photographs are taken by myself (also the ones with me in them) and all post-processing is done by me.
      p In addition to photography and drawing, a great deal of my time is spent custom designing and hand-knitting sweaters.

      //- p I am self-taught.
      //- p I decided to become a photographer in May of 2005.
      //- p There is nothing i would rather do.
      //- p I primarily shoot digital, because it&apos;s more accessible, but i work with film whenever i get the chance and i have  a darkroom at my disposal.
      //- p My equipment is as follows:
      //- p Cameras
      //- ul
      //-   li Canon EOS 5D (dslr)
      //-   li Canon EOS 350D (dslr)
      //-   li Canon EOS 500 (slr)
      //- p Lenses (all Canon)
      //- ul
      //-   li 10-22mm EFS
      //-   li 18-55mm EFS
      //-   li 100mm f/2 EF
      //-   li 17-40mm EF
      //-   li 15mm EF (fisheye)
      //- p Canon Speedlite 580EX<br>
      //-   | ST-E2 transmitter<br>
      //-   | Cable remote
