html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Rebekka Guðleifsdóttir
    link(rel="icon" type="image/png" href="/images/favicon.png")
    link(rel="stylesheet" type="text/css" href="/css/blog.css" media="all")
  body
    header.container.site-header
      a.site-name(href="/") rebekka
        span(style="color:#6c7347;") guðleifsdóttir

    block content

    //- footer.container.site-footer &copy; 2006-#{new Date().getFullYear()} Rebekka Guðleifsdóttir. All Rights Reserved.
      |
      | Web development by <a href="//longzero.com">Long Nguyen</a>.
      | Check out the <a href="//fb.com/rebekkagudleifs">Facebook Page</a>.

    script(src="/js/main.js")
