extends layouts/index.pug

block content
  main.container.site-body
    .site-media.js-site-media
      img(src="/photos/contact.jpg" width="675" alt="")
    .site-content.photo-list#content(data-photos="dolls")
      //-
